@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #121212;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 0.875rem;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #121212;
    display: inline-block;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 20px;
}

/* header */
header {
    width: 300px;
    height: 100vh;
    padding: 40px 0 0 45px;
    position: fixed;
    top: 0;
    overflow-y: auto;
}

.header-logo {
    width: 200px;
    margin-bottom: 40px;
}

.header-list {
    margin-bottom: 60px;
}

.header-list li {
    padding: 8px 0;
}

.sns-list li {
    padding: 8px 0;
}

/* main */

.shift-x {
    margin-left: 300px;
}

/* video */
.video {
    height: 100vh;
}

.video-bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
    vertical-align: bottom;
}

/* projects */

.projects , .projects a{
    color: white;
}
.title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.75rem;
    align-items: center;
    color: white;
}
.title::before, .title::after{
    content: "";
    border-top: solid 1px;
    width: 28%;
}
.projects ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projects li {
    position: relative;
}

.projects .project-contents li a::after {
    position: absolute;
    box-shadow: 0 -30px 15px -1px #2e2e2e inset;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}
.content-name {
    position: absolute;
    bottom: 4px;
    left: 7px;
    z-index: 5;
}

/* feature */
.feature, .feature a{
    color: white;
}

.feature-list {
    display: flex;
    justify-content: space-between;
}

.feature-title {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* 円 */
.cicle {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}
.cicle a{
    display: inline-block;
    border-radius: 50%;
    border: solid 1px white;
    color: white;
    width: 100%;
    line-height: 15px;
    padding: calc(50% - 7.5px) 0;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.cicle a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    pointer-events: none;
}
.cicle a:hover::after {
    left: 0;
}

/* making-flow */
.making-flow {
    background: #FFF;
}

.making-flow .title, .contact .title{
    color: black;
}

/* チャート図 */
.flow-chart {
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    /* height: 100vh; */
    margin-top: 40px;
}

/* 左側（図） */
.chart-list {
    width: 30%;
    position: relative;
}
.chart-list::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 600px;
    background: #ffdd00;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.chart-list li {
    width: 200px;
    height: 80px;
    line-height: 80px;
    color: #FFF;
    background: #414141;
    margin: 0 auto;
    margin-bottom: 60px; 
    text-align: center;
    position: relative;
}
.chart-list li:last-child {
    margin-bottom: 0;
}
.chart-list li::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    border-top: solid 30px #414141;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

/* 右側 text*/
.flow-list {
    width: 70%;
    margin-left: 10%;
}

.flow-list dt span {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1rem;
    color: #FFF;
    background-color: #414141;
    border-radius: 50%;
    position: absolute;
    left: -45px;
    display: block;
    text-align: center;
    bottom: 0;
}

.flow-list dt {
    font-size: 1.25rem;
    border-bottom: #121212 solid 1px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    position: relative;
}

.flow-list dd {
    margin-bottom: 43px;
    font-size: 1rem;
}

/* contact */
.contact {
    background: #FFF;
    padding-bottom: 80px;
}
.contact-list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.contact-list li{
    border: 1px solid black;
    position: relative;
    width: 30%;

    text-align: center;
    /* display: inline-block; */
}

.contact-list li a{
    padding: 50px 0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.contact-item:hover {
    transition: all 0.1s;
    outline: 3px solid black;
}
.contact-item::before {
    content: "";
    position: absolute;
    border-top: solid 20px transparent;
    border-right: solid 20px black;
    right: 4px;
    bottom: 4px;
}

/* footer */
footer {
    background: #121212;
    color: white;
    /* height: 80px; */
}
footer a{
    color: white;
}

.footer-list {
    display: flex;
    justify-content: center;
    margin: 30px 0 60px 0;
}
.footer-list li{
    padding: 0 20px;
    border-right: 1px white solid;
}
.footer-list li:last-child{
    border-right: none;
}
.footer-last {
    text-align: center;
    font-size: 0.75rem;
}

/* topへ戻るボタン */
.top-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #121212;
    position: fixed;
    right: 25px;
    bottom: 25px;
    border: 1px solid white;
}

.top-btn::after {
    content: "";
    border-right: solid 7px white;
    left: 17px;
    bottom: 3px;
    position: relative;
}
