@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #121212;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 0.875rem;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #121212;
    display: inline-block;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 20px;
}

/* header */
header {
    width: 300px;
    height: 100vh;
    padding: 40px 0 0 45px;
    position: fixed;
    top: 0;
    overflow-y: auto;
}

.header-logo {
    width: 200px;
    margin-bottom: 40px;
}

.header-list {
    margin-bottom: 60px;
}

.header-list li {
    padding: 8px 0;
}

.sns-list li {
    padding: 8px 0;
}

/* main */

.shift-x {
    margin-left: 300px;
}

/* video */
.video {
    height: 100vh;
}

.video-bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
    vertical-align: bottom;
}

/* projects */

.projects , .projects a{
    color: white;
}
.title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.75rem;
    align-items: center;
    color: white;
}
.title::before, .title::after{
    content: "";
    border-top: solid 1px;
    width: 28%;
}
.projects ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projects li {
    position: relative;
}

.projects .project-contents li a::after {
    position: absolute;
    box-shadow: 0 -30px 15px -1px #2e2e2e inset;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}
.content-name {
    position: absolute;
    bottom: 4px;
    left: 7px;
    z-index: 5;
}

/* feature */
.feature, .feature a{
    color: white;
}

.feature-list {
    display: flex;
    justify-content: space-between;
}

.feature-title {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* å†† */
.cicle {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}
.cicle a{
    display: inline-block;
    border-radius: 50%;
    border: solid 1px white;
    color: white;
    width: 100%;
    line-height: 15px;
    padding: calc(50% - 7.5px) 0;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.cicle a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    pointer-events: none;
}
.cicle a:hover::after {
    left: 0;
}